@media screen and (max-width: 975px) {
    img {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .menu {
        display: none;
    }

    .menu_burger {
        width: 33px;
        height: 20px;
        border: none;
        padding: 0;
        background: none;
        display: block;
        position: absolute;
        top: 68px;
        right: 30px;
    }

    .burger_line {
        width: 100%;
        height: 4px;
        background: #000;
        display: block;
        position: relative;
    }

    .burger_line::before,
    .burger_line::after {
        content: '';
        width: 100%;
        height: 4px;
        background: #000;
        display: block;
        position: absolute;
        left: 0;
        top: -8px;
    }

    .burger_line::after {
        top: 8px;
    }

    .main_btn {
        display: none;
    }

    .main_info {
        display: block;
    }

    .main_logo {
        margin-bottom: 23px;
    }

    .main_img_ds {
        display: none;
    }

    .main_img_mob {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    footer {
        background: #214E41;
        ;
    }
}

@media screen and (max-width: 767px) {
    .cta-block__content.info-block {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 80px;
        padding-left: 0;
        display: flex;
    }
}

@media screen and (max-width: 767px) {

    .usps {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 991px) {

    .home-hero__content.hero-block,
    .usps {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .usps__grid {
        grid-row-gap: 40px;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 991px) {
    .usps__grid {
        padding: 35px 30px;
    }
}

@media screen and (max-width: 767px) {
    .usps__img {
        width: 50px;
        height: auto;
    }
}

@media screen and (max-width: 991px) {
    .nav__container {
        z-index: 999;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
    }
}

@media screen and (max-width: 991px) {

    .nav__div.is--left {
        width: auto;
    }
}