@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}
<!-- <div class="conect"> -->
						<!-- <h2 class="conect_tit">Customizable benefits</h2>
						<div class="conect_img"><img src="/img/icons/strelochka.svg" alt=""></div>
					</div>
					<div class="strs">
						<h4 class="str">Paperless install & admin</h4>
						<h4 class="str">Effortless enrollment</h4>
						<h4 class="str">Easy claims experience</h4>
						<h4 class="str">Fast benefit payouts</h4>
						<h4 class="str">Concierge support</h4>
					</div> -->
