html,

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
	color: #214E41;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	/* 142.857% */

}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}


.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}


.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* header */
.head {
	padding: 20px 0;
	align-items: center;
}

.head_logo {
	margin-left: 43px;
}

.menu a {
	padding: 4px 16px;
	margin-right: 8px;
	color: #214E41;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	/* 142.857% */
	border-radius: 34px;
	transition: 0.3s;
}

.menu li:last-child a {
	margin-right: 0;
}

.menu a:hover {
	background: #dbdfd0;
}


.btn_book {
	display: flex;
	width: 160px;
	height: 40px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 6px;
	background: #43806C;
	margin-left: 53px;
}

.book {
	color: var(--White, #FFF);

	/* text-14 medium */
	font-family: "Glock Grotesque TRIAL";
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.to-top {
	color: #242424;
	padding-top: 1.8em;
	display: inline-block;
	/* or block */
	position: relative;
	border-color: white;
	text-decoration: none;
	transition: all .3s ease-out;
}

.to-top:before {
	content: '▲';
	font-size: .9em;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -.7em;
	border: solid .13em black;
	border-radius: 10em;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.3em;
	border-color: inherit;
	transition: transform .5s ease-in;
}

.to-top:hover {
	color: #2c2f24;
	border-color: #2c2f24;
}

.to-top:hover:before {
	transform: rotate(360deg);
}

.starter {
	background: url(/img/icons/backround.jpg), lightgray 50% / cover no-repeat;
	width: 1440px;
	height: 720px;
	flex-shrink: 0;
}

.starter_tit {
	color: #214E41;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 46px;
	/* 127.778% */
	width: 516px;
	padding-top: 161px;
	margin-left: 120px;
}

.starter_txt {
	color: #214E41;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
	margin: 40px 0 15px 120px;
}

form {
	border-radius: 6px 6px 6px 6px;
	background: #FFF;
	justify-content: start;
	position: relative;
	width: 403px;
	margin-left: 120px;

}

.butonn {
	border-radius: 0px 6px 6px 0px;
	background: #43806C;
}

* {
	box-sizing: border-box;
}

input,
button {
	outline: none;
	background: transparent;
}

input {
	width: 403px;
	height: 60px;
	flex-shrink: 0;
	padding-left: 15px;
	border: 3px solid #F9F0DA;
	border-radius: 6px;
	color: #222;
	font-family: "Raleway";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	/* 142.857% */

}

button {
	border: none;
	width: 123px;
	height: 60px;
	flex-shrink: 0;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-radius: 0px 6px 6px 0px;
	background: #43806C;
}

button:before {
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}

.card_txt {
	margin-bottom: 7px;
	color: #214E41;
	font-family: "Raleway";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

input:focus {
	border-color: #311c24;
}

.cards {
	width: 1200px;
	height: 171px;
	flex-shrink: 0;
	display: flex;
	border-radius: 6px;
	background: #FFF;
	box-shadow: 1px 1px 4px 0px rgba(141, 135, 135, 0.6);
	margin-left: 120px;
	margin-top: -95px;

}

.card_img {
	width: 46px;
	height: 45px;
	flex-shrink: 0;
	margin-right: 10px;
}

.card {
	display: flex;
	margin-top: 50px;
	width: calc((100% - 55px) / 3);

}

.card:first-child {
	margin-left: 50px;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: #FFF;
}

.card_txt {
	color: #214E41;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	/* 142.857% */
	width: 276px;
}

nav {
	margin-left: 280px;

}

.brella_right {
	margin-top: 213px;
	margin-left: 180px;
}

.brella_left-txt {
	color: #43806C;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	/* 153.846% */
	letter-spacing: 0.05px;
	text-transform: uppercase;
	margin-bottom: 20px;

}

.conect {
	display: inline-flex;
	padding: 9px 210px 9px 0px;
	align-items: center;
	gap: 15px;
}

.conect_tit {
	color: #214E41;
	font-family: Roboto;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px;
	/* 131.25% */
	margin-bottom: 34px;
}

.conect_img {
	width: 30px;
	height: 23px;
}

.str {
	color: #43806C;
	font-family: Roboto;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 42px;
	/* 131.25% */
	margin-bottom: 18px;
}

.brellas {
	width: 1440px;
	height: 652px;
	display: flex;
	padding: 0px 60px;
	justify-content: center;
	align-items: center;
	gap: 60px;

}

.brella_text {
	width: 510px;
	height: 358px;
	flex-shrink: 0;
}

.brella_txt {
	color: #757575;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	/* 166.667% */
	letter-spacing: 0.02px;
	margin-bottom: 24px;
	width: 477px;
}

.conect_little-tit {
	color: #214E41;
	text-align: center;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	/* 100% */
	letter-spacing: 0.02px;
	width: 87px;

}

.conect_little-tit:last-child {
	text-decoration-line: underline;
	text-decoration-style: solid;
}

.procent_tit {
	color: #214E41;
	font-family: Roboto;
	font-size: 70px;
	font-style: normal;
	font-weight: 700;
	line-height: 90px;
	/* 128.571% */
	margin-bottom: 30px;
}

.procent_txt {
	color: #214E41;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	/* 169.231% */
	letter-spacing: 0.02px;
}

.procent_txt:nth-child(3) {
	text-decoration-line: underline;
}

.rectangle {
	width: 78px;
	height: 150px;
	flex-shrink: 0;
	background: #43806C;
	margin-bottom: 20px;
	align-items: end;

}

.reitim {
	margin-right: 40px;
}

.reiting {
	color: #214E41;
	text-align: center;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	/* 169.231% */
	display: flex;

}

.reitingin {
	color: #214E41;
	text-align: center;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	/* 169.231% */
}

.rectangle-2 {
	width: 78px;
	height: 300px;
	flex-shrink: 0;
	background: #43806C;
}

.dva_right {
	background: #214E41;
	width: 50%;
	padding: 120px;
}

.dva_right-text {
	color: #FFF;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	/* 170% */
	letter-spacing: 0.02px;
}

.dva_left {
	background: #E3EEED;
	width: 50%;
	padding: 120px 0 120px 120px;
}

.dva {
	display: flex;
	justify-content: center;
}

.dvas {
	display: flex;
	width: 1440px;
	height: 640px;
	flex-shrink: 0;
}

.credit_top-left {
	width: 600px;
	height: 298.344px;
	flex-shrink: 0;
	margin-top: 120px;
}

.dva_right-txt {
	color: #FFF;
	font-family: Raleway;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	/* 170% */
	letter-spacing: 0.02px;
	width: 491px;
}

.dva_right-txt:first-child {
	margin-bottom: 20px;
}

.credit_titi {
	color: #43806C;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	/* 153.846% */
	letter-spacing: 0.05px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.credit_tit {
	color: #214E41;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 46px;
	/* 127.778% */
	margin-bottom: 34px;
	width: 556px;
}

.credit_txt {
	color: #757575;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	/* 166.667% */
	letter-spacing: 0.02px;
	width: 551px;
	margin-bottom: 24px;
}

.right_img {
	width: 560px;
	height: 298px;
	flex-shrink: 0;
	margin: 120px 120px 0 40px;
}

.credit_top {
	display: flex;
	margin-bottom: 60px;
	padding: 0 120px;
}

.card_tit {
	color: #F0A446;
	font-family: "Roboto";
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 78px;
	/* 130% */
	margin-bottom: 13px;
}

.card_txt {
	color: #214E41;
	font-family: "Raleway";
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px;
	/* 169.231% */
	letter-spacing: 0.02px;
	width: 239px;
}

.bottom_cards {
	margin-left: 120px;
	width: 1200px;
}

.phones {
	display: flex;
	margin-top: 120px;
}

.phone_right {
	padding-left: 120px;
}

.phone_left {
	padding-left: 230px;
	margin-right: 103px;
}

.phone_left-img {
	width: 296px;
	height: 500px;

}

.crads {
	width: 1200px;
	height: 171px;
	flex-shrink: 0;
}

.big_image {
	background-image: url(/img/icons/girl.jpg);
	width: 1440px;
	height: 522px;
	flex-shrink: 0;
}

.image_text {
	margin: 0 820px 114px 120px;
	padding-top: 125px;
}

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-bottom: 120px;

	.cart {
		display: inline-block;
		width: 146px;
		height: 60px;
		flex-shrink: 0;
		margin-left: 80px;
	}
}

.proud_tit {
	color: #214E41;
	text-align: center;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 46px;
	/* 127.778% */
	margin-top: 120px;
	margin-bottom: 110px;
}

.prouder {
	width: 1400px;
	height: 226px;
	padding: 0px 100px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 110.344px;
	flex-shrink: 0;
}

.slips {
	height: 367.516px;
	padding-left: 55.656px;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 40px;
	flex-shrink: 0;
	width: 1300px;
}

span {
	color: #43806C;
	font-family: Raleway;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	/* 163.636% */
	letter-spacing: 0.05px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.slip {
	margin-top: 240px;
}

.slip_img {
	width: 355px;
	height: 237px;
	flex-shrink: 0;
	margin-bottom: 20px;
}

.slip_txt {
	color: #214E41;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 26px;
	/* 130% */
	width: 342px;
}

.talk_left {
	margin-top: 400px;
}

.talk_right {
	margin-top: 400px;
	background: #E3EEED;
	padding-left: 120px;
	padding-right: 177px;
}

.talk_left-img {
	width: 720px;
	height: 577px;
	flex-shrink: 0;


}

.talker {
	display: flex;
}

.talk_txt {
	color: #214E41;
	font-family: Roboto;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 46px;
	/* 127.778% */
	width: 423px;
	margin-bottom: 46px;
}

.talk_text {
	margin-top: 144px;
}

.btn_talk {
	display: block;
	border-radius: 6px;
	border: 1px solid #43806C;
	background: #43806C;
	width: 125px;
	height: 47px;
	flex-shrink: 0;
}

.push {
	padding-top: 13px;
	color: #FFF;
	text-align: center;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	/* 161.538% */
	letter-spacing: 0.02px;
}

footer {
	background: #214E41;
	height: 788px;
	flex-shrink: 0;

}

.footer_top {
	display: flex;
}

.footer_first {
	width: 98px;
	height: 28px;
	flex-shrink: 0;
	margin: 0 105px 94px 100px;
	padding-top: 100px;
}

.footer_second {
	height: 192px;
	padding-top: 100px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 14.859px;
	flex-shrink: 0;
}

.footer_second:first-child {
	margin-right: 105px;
}

.footer_txt {
	color: #FFF;
	font-family: "Raleway";
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	/* 184.615% */
	letter-spacing: 0.02px;
	text-transform: uppercase;
}

.footer_top-left {
	display: flex;
}

.footer_little {
	color: #FFF;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	/* 168.75% */
}

.image_little-tit {
	color: #214E41;
	text-align: center;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	/* 100% */
	letter-spacing: 0.02px;
	width: 100px;
	text-decoration: underline;
}

hr {

	background: rgba(199, 199, 199, 0.37);
}

.littles {
	padding-right: 105px;
}

.right_txt {
	color: #FFF;
	font-family: Raleway;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 184.615% */
	letter-spacing: 0.02px;
	text-transform: uppercase;
}

.footer_top-right {
	padding-top: 100px;
	margin-left: 183px;
}

.right_txt {
	margin-bottom: 19px;
}

hr {
	margin-top: 70px;
	margin-bottom: 74px;
}

.bottom_para {
	color: #FFF;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 171.429% */
	letter-spacing: 0.02px;
	margin-bottom: 22px;
}

.footer_tup {
	margin-top: 90px;
	display: flex;
}

.col1 {
	color: #FFF;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 171.429% */
	letter-spacing: 0.02px;
	float: left;
	box-shadow: inset -1px 0 0 white;
	padding-right: 10px;
}

.col2 {
	color: #FFF;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 171.429% */
	letter-spacing: 0.02px;
	width: 1px;
	height: 24px;
	flex-shrink: 0;
	float: left;
}

.col3 {
	color: #FFF;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 171.429% */
	letter-spacing: 0.02px;
	margin-left: 10px;
}